<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <title>List</title>
</head>
<body class="container">
<h1 th:inline="text">Witaj, [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Wyloguj"/>
</form>

    <div class="panel panel-default">
        <div class="panel-heading">Lista studentów</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Numer tel.</th>
                    <th>PESEL</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="s : ${list}">
                    <td th:text="${s.id}">Id</td>
                    <td th:text="${s.name}">Imię</td>
                    <td th:text="${s.surname}">Nazwisko</td>
                    <div th:if="${s.studentDetails == null}">
                        <td>Brak</td>
                        <td>Brak</td>
                    </div>
                    <div th:if="${s.studentDetails != null}">
                        <td th:text="${s.studentDetails.phoneNo}">Phone No</td>
                        <td th:text="${s.studentDetails.pesel}">Pesel</td>
                    </div>
                    <td>
                        <a th:href="@{/student/{id}(id=${s.id})}" type="button" class="btn btn-primary">Szczegóły</a>
                        <a th:href="@{/student/update/{id}(id=${s.id})}" type="button" class="btn btn-default">Zmień</a>
                        <a th:href="@{/student/delete/{id}(id=${s.id})}" type="button" class="btn btn-danger">Usuń</a>
                        <a th:href="@{/course/{id}(id=${s.id})}" type="button" class="btn btn-primary">Wybierz kurs</a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>