<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <title>List</title>
</head>
<body class="container">
<div class="panel panel-default">
    <div class="panel-heading">Lista kursów</div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Od</th>
                <th>Do</th>
                <th>Cena</th>
                <th>Liczba miejsc</th>
                <th>Zapisani</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="s : ${list}">
                <td th:text="${s.id}">Id</td>
                <td th:text="${s.name}">Nazwa</td>
                <td th:text="${s.from}">Od</td>
                <td th:text="${s.to}">Do</td>
                <td th:text="${s.price}">Cena</td>
                <td th:text="${s.capacity}">Liczba miejsc</td>
                <td>
                    <div th:each="student : ${s.students}">
                        <p th:text="${student.name}"></p>
                        <p th:text="${student.surname}"></p>
                    </div>
                </td>
                <td>
                    <a th:href="@{/course/enroll/{cid}/{id}(id=${studentId},cid=${s.id})}" type="button" class="btn btn-primary">Zapisz</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>